@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

html,
body{
    font-family: 'Unica One', cursive;
    height: 100%;
    font-size: 62.5%;
}

header {
    background-color: #020528;
    padding: 0.5rem 1.5rem;
}

#logo {
    font-size: 4rem;
    font-weight: 700;
    color: #fff2e6;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10rem;
    width: 100%;
    background-color: #020528;
    padding: 1rem 10rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50rem;
    height: 50rem;
    background-color: #fff2e6;
    border: 0.4rem solid #fff2e6;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 8px rgb(255, 64, 0);
}

.grid-column {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.control-btn {
    display: block;
    width: 12rem;
    height: 3rem;
    font-family: 'Unica One', cursive;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: transparent;
    color: #fff2e6;
    border: 0.2rem solid #fff2e6;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 3px rgb(255, 64, 0);
    cursor: pointer;
}

.active {
    background-color: #fff2e6;
    color: #020528;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

#color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 0.8rem;
    box-shadow: 0px 0px 1px rgb(255, 64, 0);
}

#slider-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff2e6;
    text-align: center;
    margin-bottom: 0.7rem;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 18rem;
    height: 1rem;
    background: #fff2e6;
    border: 1px solid rgb(255, 64, 0);
    border-radius: 0.7rem;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: rgb(255, 64, 0);
}

footer {
    background-color: #020528;
}

footer h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff2e6;
    text-align: center;
}
/*footer {
    height: 10%;
    background-color: blueviolet;
}

.side-bar {
    width: 30%;
    height: 100%;
}

.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    color: white;
    font-size: 1.8rem;
}

#color-picker {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: #f7dcb5;
    border: 0.2rem solid #e89234;
}

.control-btn {
    display: block;
    width: 15rem;
    height: 4rem;
    font-size: 1.8;
    font-weight: 700;
    border: 0.2rem solid #e89234;
    border-radius: 0.8rem;
    background-color: transparent;
    color: #f7dcb5;
    padding: 0;
    margin: 0;
}

.slider-container {
    width: 15rem;
    height: 5rem;
}

#slider-title {
    font-size: 2rem;
    text-align: center;
}

#slider {
    display: block;
    margin: 0 auto;
}

.grid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
}

#grid {
    height: 50rem;
    width: 50rem;
    background-color: white;
    border: 0.4rem solid #e89234;
}